<footer>
    <div class="footer-info">
        <div class="footer-socials">
            <a href="https://www.instagram.com/bk_soumik/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://github.com/Bk-Soumik"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/soumik-ghosh-807190305/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="footer-info-brand">&copy; AirBnb Private Limited</div>
    <div class="footer-info-links">
        <a href="link">Privacy</a>
        <a href="link">Terms</a>
    </div>
    </div>
</footer>